# Python
__pycache__/
*.pyc


# Env
.env
venv/
.venv/
.venv-win
.codex
.claude/
ptp/

# Frontend
frontend/node_modules/
frontend/dist/

# Keep folder structure
!backend/data/raw/.gitkeep
!backend/data/raw/usda_foundation/.gitkeep
!backend/data/clean/.gitkeep
!backend/data/clean/usda_foundation/.gitkeep

# OS / misc
.DS_Store